<table class="table table-inverse table-education">
  <thead>
    <tr>
      <th>service name</th>
      <th>Details</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @services.each do |ser| %>

    <tr>
      <td><%=ser.name%></td>
      <td><%=ser.description.truncate_words(15)%></td>
      <td>

        <%= link_to 'show', service_path(ser.id), class: 'btn btn-link' %>
        <%= link_to 'Delete', [ser], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-link'  %>

      </td>
    </tr>
    <%end%>
  </tbody>
</table>


<%= link_to 'Add another service record', new_service_path, class: 'btn btn-link' %>
<%#= link_to 'back', user_path(@user), class: 'btn btn-link' %>
