
<div class="card" style="width: 30rem;">
  <%= image_tag(@user.profile_picture.url, size: "299x250", alt: "Edit Entry", :class => "card-img-top" ) %>

  <ul id="wrapper">
    <li><%= link_to "logout", destroy_user_session_path, method: :delete, class: "glyphicon glyphicon-log-in" %></li>
    <li><a href="#">Projects <span class="number">3</span> </a></li>
    <li><a href="#">Music <span class="number">4</span> </a></li>
    <li><a href="#">Photos <span class="number">2</span> </a></li>
  </ul>

  <div class="btn-group link-button ">
    <button type="button" class="btn btn-sm btn-link">
      <%= link_to "http://www.facebook.com/" do %>
        <%=   image_tag("socialnetworkslogos/cir/png/facebook.png", size: "30x30", alt: "Edit Entry") %>
      <% end %>
    </button>
    <button type="button" class="btn btn-sm btn-link">
      <%= link_to "http://www.twitter.com/" do %>
        <%=   image_tag("socialnetworkslogos/cir/png/twitter.png", size: "30x30", alt: "Edit Entry") %>
      <% end %>
    </button>
    <button type="button" class="btn btn-sm btn-link">
      <%= link_to "http://www.linkedin.com/" do %>
        <%=   image_tag("socialnetworkslogos/cir/png/linkedin.png", size: "30x30", alt: "Edit Entry") %>
      <% end %>
    </button>
  </div>

  <div class="copywrite">
    <p>by @-|)</p>
  </div>

</div> <!-- end div class card -->
