<!--About Tab-->
<section id="about" class="bgWhite ofsInBottom">

  <!--About -->
  <div class="about">

    <!-- rendering introduction section of resume -->
    <%= render 'introduction', :@user => @user %>

    <!-- rendering skills section of resume -->
    <%= render 'skilldisplay', :@user => @user %>

    <!-- rendering experience section of resume -->
    <%= render 'experiencedisplay', :@user => @user %>

    <!-- rendering education sextion of resume -->
    <%= render 'educationdisplay', :@user => @user %>

    <!-- rendering education sextion of resume -->
    <%= render 'servicesdisplay', :@user => @user %>

    <!-- rendering testemonials sextion of resume -->
    <%= render 'testemonialsdesplay', :@user => @user %>

    <!-- rendering buttons sextion of resume -->
    <%= render 'buttons', :@user => @user %>

  </div>
  <!--End about-->

</section>
