<table class="table table-inverse table-education">
  <thead>
    <tr>
      <th>position</th>
      <th>company_name</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @experiences.each do |exp| %>

    <tr>
      <td><%=exp.position%></td>
      <td><%=exp.company_name%></td>
      <td>

        <%= link_to 'show', experience_path(exp.id), class: 'btn btn-link' %>
        <%= link_to 'Delete', [exp], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-link'  %>

      </td>
    </tr>
    <%end%>
  </tbody>
</table>


<%= link_to 'Add another experience record', new_experience_path, class: 'btn btn-link' %>
<!-- <%#= link_to 'back', user_path(@user), class: 'btn btn-link' %> -->
