<table class="table table-inverse table-education">
  <thead>
    <tr>
      <th>Institute</th>
      <th>Degree</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @educations.each do |edu| %>

    <tr>
      <td><%=edu.institute%></td>
      <td><%=edu.degree%></td>
      <td>

        <%= link_to 'show', education_path(edu.id), class: 'btn btn-link' %>
        <%= link_to 'Delete', [edu], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-link'  %>

      </td>
    </tr>
    <%end%>
  </tbody>
</table>


<%= link_to 'Add another education record', new_education_path(@user), class: 'btn btn-link' %>
<!-- <%#= link_to 'back', user_path(@user), class: 'btn btn-link' %> -->
