<%- model_class = Testimonial -%>
<div class="page-header">
  <!-- <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1> -->
  <h3>details</h3>
</div>

<div class="row">

  <div class="col-md-6">
    <% if @tes.pic.exists? %>
      <!-- <%= image_tag(@user.profile_picture.url, alt: "Edit Entry", :class => "card-img-top" ) %> -->
      <%= image_tag @tes.pic.url %>
    <% else%>
      <img src="/assets/default.jpg" alt="default image">
      <span class="pull-right">no picture provided</span>
    <% end %>
  </div>

  <div class="col-md-6">
    <dl class="dl-horizontal">
      <dt><strong><%= model_class.human_attribute_name(:from) %>:</strong></dt>
      <dd><%= @tes.persons_name %></dd>
      <dt><strong><%= model_class.human_attribute_name(:company) %>:</strong></dt>
      <dd><%= @tes.company %></dd>
      <dt><strong><%= model_class.human_attribute_name(:designation) %>:</strong></dt>
      <dd><%= @tes.persons_designantion %></dd>
      <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
      <dd><%= @tes.description %></dd>
    </dl>


  </div>

</div>

<%= link_to 'back',  testimonials_path, :class => 'btn btn-link pull-right' %>
<% if (current_user.id == @user ) %>
  <%= link_to 'Edit',  edit_testimonial_path(@tes), :class => 'btn btn-link pull-right'  %>
  <%= link_to 'Destroy', [@tes], method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-link pull-right'  %>
<% end %>
